<a href="https://colab.research.google.com/github/hoseinm444/googleColab_works/blob/machine_learning_exersise/machine_learning/session21_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Session 21:missing value

##جداسازی فیچرها وتارگت ها از هم در دیتاست

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

df = pd.read_csv("housing.csv")

##ایجاد داده ترین و طبقه بندی مقادیر  به نسبت درست

In [3]:
df["median_income_categories"] =pd.cut(df["median_income"], bins=[0.0,1.5,3.0,4.5,6,np.inf],labels=[1,2,3,4,5])

In [4]:
from sklearn.model_selection import train_test_split


str_train_set, str_test_set= train_test_split(df,
                                              test_size = 0.2,
                                              stratify=  df["median_income_categories"],
                                              random_state= 40)

In [5]:
str_train_set =str_train_set.drop("median_income_categories",axis=1)
str_test_set =str_test_set.drop("median_income_categories",axis=1)

In [6]:
train=str_train_set

In [7]:
train_features= train.drop("median_house_value",axis=1)
train_target= train["median_house_value"]
train_target

16415    158300.0
1279     253900.0
7741     209000.0
4425     137500.0
1283      93800.0
           ...
1221     104000.0
12640     75400.0
5747     354700.0
16224     84600.0
8967     336000.0
Name: median_house_value, Length: 16512, dtype: float64

In [8]:
train_features.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16512 entries, 16415 to 8967
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           16512 non-null  float64
 1   latitude            16512 non-null  float64
 2   housing_median_age  16512 non-null  float64
 3   total_rooms         16512 non-null  float64
 4   total_bedrooms      16344 non-null  float64
 5   population          16512 non-null  float64
 6   households          16512 non-null  float64
 7   median_income       16512 non-null  float64
 8   ocean_proximity     16512 non-null  object
dtypes: float64(8), object(1)
memory usage: 1.3+ MB

##رویکرد حذف سطر Na

In [ ]:
train_features.dropna(subset=["coulmn with Na value "])

#Session 22 :پر کردن missing value

##مقادیری که نیستن جاشون میانه اون ستون و میزاریم
---

In [9]:
totals_bedrooms_median= train_features["total_bedrooms"].median()

##مقدار بالا رو به دیتا فریم می دهیم

In [11]:
train_features["total_bedrooms"].fillna(totals_bedrooms_median)

16415     93.0
1279     415.0
7741     702.0
4425      80.0
1283      43.0
         ...
1221     681.0
12640    415.0
5747     280.0
16224    576.0
8967     258.0
Name: total_bedrooms, Length: 16512, dtype: float64